@import "tailwindcss";

:root {
  --width-80: 80%;
  --blue-color: #319ff9;
  --dark-bg: #000b1a;
}

*,
html,
body {
  user-select: none !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
}

.center-nav {
  width: var(--width-80);
}

.blue-color {
  color: var(--blue-color);
}

.dark-bg {
  background-color: var(--dark-bg);
}
